## EmployeeSQL

In [1]:
## Dependencies
import pandas as pd
import matplotlib.pyplot as plt

# from sqlalchemy import create_engine
from sqlalchemy import *

## Import database parameters
from config import db_host, db_name, db_user, db_password

#### Import data from PostgreSQL database into Pandas

In [2]:
## Set SQLAlchemy Parameters
engine = create_engine(f'postgresql://{db_user}:{db_password}@{db_host}/{db_name}')
connection = engine.connect()

In [3]:
engine

Engine(postgresql://postgres:***@localhost:5432/EmployeeSQL)

In [4]:
connection

In [5]:
## Get table names
print(engine.table_names())

['department', 'dept_employee', 'dept_manager', 'salary', 'title', 'employee']

<ipython-input-5-7f622051bbf8>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  print(engine.table_names())

In [6]:
metadata = MetaData()
salary = Table('salary', metadata, autoload_with=engine)
salary

Table('salary', MetaData(), Column('emp_no', INTEGER(), table=<salary>, nullable=False), Column('salary', MONEY(), table=<salary>), schema=None)

In [11]:
## Get table information
print(repr(salary))

Table('salary', MetaData(), Column('emp_no', INTEGER(), table=<salary>, nullable=False), Column('salary', MONEY(), table=<salary>), schema=None)